header{
  height: 1045px;
  overflow: hidden;
  background-image: url(Photo/Rectangle.png);
  display: grid;
  grid-template-columns: 7.81% auto auto;
  grid-template-rows:  150px;
}
.top-menu {

  
  height: 15%;
}
.list-menu li a {
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: Open Sans Condensed;
  margin: 0px 10px;
  color: white;
  text-align: right;
  text-decoration-line: none;
}
.list-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 51px;
  
}
.left-information {
  grid-row: 1 / 3;
  height: 1045px;

  background: rgba(51, 51, 51, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 1045px;
}
.left-information img {
width: 30%;

}
.left-information span {
  transform: rotate(-90deg);
  color: white;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
}
.left-information hr {
  position: relative;
  top: 50px;
  color: white;
  height: 100px;
}
.left-information img, span {
  margin: 100px 0px;
}
.telephon {
  margin-top: 51px;
}
.telephon span {
  border-bottom: 1px solid gold;
  color: white;
}


.header-content {
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: row;
  width: 80%;
}
.text-header {
  width: 60%;
  margin: 100px 100px;
  color: white;
}
.header-content > div > button {
  width: 112px;
  height: 35px;
  background: #D1A954;
  color: white;
  border: none;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 20px;
}
.header-content .img-header > img {
  height: 450px;
  width: auto;
  box-shadow: 10px 10px 10px;
}
#a {
  padding-right: 30px;
}
#b {
  transform: rotate(180deg);
  padding-right: 30px;
}
.button-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.button-image button {
  background: inherit;
  border: none;
  height: 30px;
  width: 140px;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
}
.button-image button img {
  width: 40px;
  height: 10px;
}

main, footer {
  background: #333333;

}
.inf-about {
  display: grid;
  grid-template-columns: 35% auto auto;
  width: ;
  justify-content: center;
  margin: auto;
  width: 70%;
  grid-column-gap: 30px;
}
.heading {
  grid-column: 1 / span 3;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.heading span {
  color: #D1A954;
}
.best-teatr {
  color: white;
}
.best-head {
  font-size: 18px;
}
#c {
  font-size: 18px;
}
.numeral span {
  color: #D1A954;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.numeral p {
  color: white;
}
.numeral img {
  display: block;
}
.image-gallery p {
  font-size: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.image-gallery p > span {
  color: #D1A954;
}
.image-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.image-container a {
  margin: 0 1px;
}
@media (max-width:1310px) {
  .image-container {
    grid-template-columns: auto auto;
  }
}
.image-container-text {
  position: relative;
}
.image-container-text span {
  position: absolute;
}
.d {
  top: -80px;
  left: 20px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  
}
.e {
  transform: rotate(-90deg);
  bottom: -40px;
  left: -10px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}
#f {
  top: 37.443%;
  left: 34.375%;
  position: absolute;
}

.fa-search {
  top: 46.233%;
  left: 45.3125%;
  color: white;
  position: absolute;

  font-size: 30px;
}
.fa-search:hover  {
  color: rgb(46, 166, 247);
}
.critics {
  background-image: url(Photo/Rectangle28.png);
  margin: 150px auto 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: 35% auto;
  height: 400px;
}
.ears {
  margin: auto auto auto 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.ears span {
  padding: 5px;
  margin: 5px auto;
  height: 40px;
  font-size: 50px;
  color: #D1A954;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.rating {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  margin-left: 50px;
  margin-top: 100px;
  grid-row-gap: 10px;
}
.rating span {
  color: white;
  letter-spacing: 0.05em;
  font-size: 22px;
  margin-top: 10px;
}
.icon {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.icon img {
  padding: 20px;
}
@media (max-width:1000px) {
  .icon {
    grid-template-columns: auto auto;
  }
}


.charity > p {
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}
.charity p > span {
  color: #D1A954;
}
.contact {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  margin: auto;
}
.inf {
  margin: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  font-size: 11px;
  }

.form {
  margin: auto;
  width: 80%; 
  display: grid;
  grid-template-columns: 25% auto;
}
form {
  display: grid;
  grid-template-columns: auto auto 40%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.message {
  grid-area: 1 / 3 / 3 / 3;
}
form p {
  grid-area: 3 / 1 / 3 / 3;
  color: #989898;
  font-size: 10px;
}
.name, .company, .phone, .email {
  height: 30px;
}
.button {
  width: 160px;
  height: 40px;
  padding: 0;
}
.cont-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width:1000px) {
  form {
    display: grid;
    grid-template-columns: 30% auto;
  }
  .message {
    grid-area: 3 / 1 / 4 / 3;
    height: 40px;
  }
  form p {
    grid-area: 5 / 1 / 6 / 3;
  }

}
form  input {
  background: #444444;
  border: 1px solid #616161;
  box-sizing: border-box;
}
form > div input {
  background: #D1A954;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
}
.under-line {
  color: #565656;
  width: 74.5%;
}
.developer {
  font-size: 10px;
  color: #989898;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}
.del {
  margin: 0;
}
