@charset "UTF-8";
@font-face {
  font-family: Favorit;
  /* Имя шрифта */
  src: url("Fonts/favoritbookc.otf");
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Sharp Grotesk Bold 11;
  /* Имя шрифта */
  src: url("Fonts/SharpGroteskBold11-Regular.ttf");
  /* Путь к файлу со шрифтом */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  overflow-x: hidden;
}

.head-container {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  height: 800px;
  margin-top: 80px;
}

header {
  background-color: #131313;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 100;
}

.head-right {
  display: flex;
  width: calc(100% - 100px);
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  height: 80px;
}

.burger {
  width: 100px;
  height: 80px;
}

.options {
  width: 323px;
  display: flex;
  justify-content: space-between;
}

.options a {
  text-decoration: none;
  color: white;
  font-family: favorit;
}

.search-account {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search {
  margin: auto;
  width: auto;
  height: 40px;
}

.search > input::placeholder {
  color: black;
}

.search > input {
  margin: auto;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 50px;
}

.search > i {
  position: relative;
  left: 40px;
  top: 3px;
  transform: scale(1.1);
}

.search i:hover {
  color: blue;
}

.vertical-line-container {
  margin: auto 20px;
  height: 40px;
}

.vertical-line-container > .line {
  width: 1px;
  height: 40px;
  background: #FFFFFF;
  opacity: 0.15;
  margin: auto;
  border: none;
}

.account > .signup {
  color: #7FEFCF;
  background: inherit;
  border: none;
  outline: none;
}

.account > .login {
  color: white;
  background: inherit;
  border: none;
  outline: none;
}

.user {
  background-color: #131313;
  width: 40px;
}

.user > button {
  background-color: #131313;
  outline: none;
  border: none;
}

.user-display {
  display: none;
}

@media (max-width: 1420px) {
  .options {
    width: 250px;
  }

  .head-slide {
    height: 700px;
  }
}
@media (max-width: 850px) {
  .options, .vertical-line-container, .search-account {
    display: none;
  }

  .logo {
    margin-left: calc(50% - 50px);
  }

  .user-display {
    display: inline;
  }

  .login {
    margin-right: 5px;
  }

  .head-slide {
    height: 500px;
  }
}
@media (max-width: 500px) {
  .burger {
    height: 68px;
  }

  header {
    height: 68px;
  }

  .head-right {
    height: 68px;
  }

  .head-slide {
    height: 300px;
  }
}
.head-slider-container {
  width: 100%;
  margin-top: 80px;
}

.head-slider {
  overflow: hidden;
}

.head-slide {
  float: left;
  background-size: cover;
  width: 100%;
  height: 816px;
}

.head-slide-bc {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.head-slider-navy {
  display: flex;
  justify-content: space-between;
}

.progress {
  display: block;
  width: 150px;
  height: 1px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(to right, white, white);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}

.navy-button-head {
  background-color: rgba(255, 255, 255, 0.025);
  z-index: 2;
  display: flex;
  width: 200px;
  height: 80px;
  margin-left: calc(100% - 200px);
  position: relative;
  bottom: 80px;
}

.navy-button-h {
  background: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  width: 50%;
}

.head-prev {
  border-right: 0.5px solid rgba(255, 255, 255, 0.15);
}

.head-next {
  border-left: 0.5px solid rgba(255, 255, 255, 0.15);
}

.slider-container {
  margin: 10% auto 0 auto;
  width: 95%;
}

.slider {
  overflow: hidden;
  margin: 40px auto;
}

.slide-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.slider-headler {
  margin-left: 20px;
}

.navy {
  z-index: 2;
  height: 14px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
  height: 20px;
  margin-right: 48px;
}

.navy .navy-button {
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* Двойной клик по кнопкам вперед/назад вызывает выделение всех элементов слайдера,
поэтому предотвращаем это */
.slider::-moz-selection {
  background: transparent;
  color: #fff;
  text-shadow: none;
}

.slider::selection {
  background: transparent;
  color: #fff;
  text-shadow: none;
}

.slide-item {
  width: 325px;
  overflow: hidden;
  float: left;
  height: 384px;
  border-radius: 10px;
  background-size: cover;
  margin: auto 10px;
}

.slide-title {
  position: absolute;
  width: 170px;
  height: 45px;
  left: 6%;
  top: 6%;
  color: white;
}

.slide-title div {
  font-family: favorit;
}

.slide-title-headler {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.slide-title-text {
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
}

.slide-gradient {
  background: linear-gradient(180deg, #00000071 0%, rgba(0, 0, 0, 0) 45%, transparent 55%, #111 100%);
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-gradient img {
  position: absolute;
  right: 9.17%;
  top: 8%;
  opacity: 0.9;
}

.slide-title {
  /* Шрифт */
  font: bold 16px monospace;
  /* Указываем, что элемент блочный */
  display: block;
}

.button-test {
  color: #222;
  font-family: Favorit;
  font-style: italic;
  font-size: 10px;
  line-height: 25px;
  text-decoration: none;
  position: absolute;
  background: linear-gradient(180deg, #7FEFCF 0%, #69DBC3 100%);
  border-radius: 12px;
  outline: none;
  bottom: 6%;
  left: 6%;
  height: 24px;
  width: 68px;
  text-align: center;
}

.categories-container {
  width: 95%;
  margin: 80px auto;
}

.categories-content {
  width: 96%;
  display: flex;
  margin: 0 auto;
}

.categories-headler {
  margin-bottom: 35px;
  font-family: Sharp Grotesk Bold 11;
  font-style: normal;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

.categories-item {
  border-radius: 10px;
  width: 320px;
  height: 190px;
  margin: auto 10px;
}

.categories-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0000007e 0%, rgba(0, 0, 0, 0) 75.77%);
  position: relative;
}

.cat-grad-text {
  position: absolute;
  left: 6%;
  bottom: 10%;
  font-family: Favorit;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

/*# sourceMappingURL=myStyle.css.map */
